body{
  font-size: 6em;
  text-align: center;
}

.count{
  font-weight: bold;
  color: #888;
}

.wrap{
  background-color: #666;
  font-weight: bold;
  color: white;
  padding:80px 40px;
  margin-top: 20px;
}

.typed{
  color:lightgreen;
}

.mistyped
{
  background-color: red;
}

